/.vscode
__pycache__/

plots.py

.DS_Store

~$results.xlsx

/pictures/yPlus_freestream_grid1.png
/pictures/yPlus_freestream_grid2.png


/groundeffect/postProcessing
/groundeffect/case_m
/groundeffect/case/*

!/groundeffect/case/0
!/groundeffect/case/postProcessing
!/groundeffect/case/system
!/groundeffect/case/a.foam
!/groundeffect/case/forces.csv
!/groundeffect/case/forces.png
!/groundeffect/case/residuals.csv
!/groundeffect/case/residuals.png
!/groundeffect/case/mesh.geo

/freestream/grid2/postProcessing
/freestream/grid2/case/*

!/freestream/grid2/case/0
!/freestream/grid2/case/postProcessing
!/freestream/grid2/case/system
!/freestream/grid2/case/a.foam
!/freestream/grid2/case/forces.csv
!/freestream/grid2/case/residuals.csv
!/freestream/grid2/case/mesh.geo

/freestream/grid1/postProcessing
/freestream/grid1/case/*

!/freestream/grid1/case/0
!/freestream/grid1/case/postProcessing
!/freestream/grid1/case/system
!/freestream/grid1/case/a.foam
!/freestream/grid1/case/forces.csv
!/freestream/grid1/case/residuals.csv
!/freestream/grid1/case/mesh.geo